.s-steps-scroll {
  max-width: 1200px;
  margin: auto;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex-basis: 40%;
    position: relative;
    padding-bottom: 35px;

    &__title {
      position: sticky;
      top: 100px;
    }

    &__steps {
      position: sticky;
      top: 70vh;
      min-height: 20vh;
    }

    &__step {
      position: absolute;
      transition: all .3s ease-in-out;
      opacity: 0;
      top: 50%;

      &--top {
        transform: translateY(-40%);
      }

      &--bottom {
        transform: translateY(140%);
      }

      &--active {
        transform: translateY(50%);
        opacity: 1;
      }
    }
  }

  &__images {
    flex-basis: 50%;

    &__image {
      height: 700px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}