.text-section{
  position: relative;
  min-height: 400px;
  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &__title{

  }
  &__subtitle{

  }

  &__btn{

  }
}